img[alt]{
	border: 5px solid blue;
}
/*Imagen con atributo SRC cadena exacta*/
img[src="img/LOGO_TEC_PNG_OK.png"]{
	width: 400px;
}
/*^ = circunflejo
Imagen con el atributo SRC
al inicio de la cadena*/
img[src^="img/"]{
	width: 150px;
}
/*$ = signo de pesos
Imagen con el atributo SRC
al final de la cadena*/
img[src$="png"]{
	width: 250px;
}
/*Imagen con atributo SRC en cualquier
parte de la cadena*/
img[src*="mg/"]{
	width: 1000px;
}
/*El caracter ~ indica que estos
selectores están separados por espacios*/
/* .resaltado <-- es lo mismo */
/* .archivo   <-- es lo mismo */
/* .ingles    <-- es lo mismo */
article[class~="resaltado"]{
	border: 1px dashed blue;
}
article[class~="archivo"]{
	border: 1px dashed red;
}
article[class~="ingles"]{
	border: 5px dashed green;
}
/*El caracter | (pipe) distingue las 
clases separadas por guiones*/
article[class|="ingles"]{
	text-align: center;
}

/*Selector secundarios.
Seleccionar solamente las <p>
que se encuentran inmediatamente después
del <div>*/
div > p{ /*solo hijos directos*/
	color: blue;
}
/*Todos los elementos <p> serán seleccionados*/
div p{
	color: red;
}

/*Seleccionar solo el elemento <p> que está
inmediatamente después del elemento <h2>*/
h2 + p{
	color: gray;
}
/*Seleccionar todos los hermanos del tipo
de elemento seleccionado (Hermano general)*/
h2 ~ p{
	color: green;
}

/*Poner en color rojo el texto de las secciones
menos el id="referencias"*/
#resumen,#experimento,#pruebas,#resultados,#conclusiones{
	color: tomato;
}
/*Poner en color azul el texto de las secciones
menos el id="referencias"*/
section:not(#referencias){
	color: blue;
}

li:nth-child(odd){ /*impar*/   
	color: green;
}	
li:nth-child(even){ /*pares*/
	color: blue;
}
li:nth-child(5){ /*quinto elemento*/
	color: red;
}
li:nth-last-child(1){
	color: purple;
}

p:first-line{
	color: red;
	font-weight: bold;
}


















