body{
	max-width: 1024px;
	border:1px solid blue;
	margin:0px auto;
}
header{
	background: #D3D8EB;
}
header nav{
	background: #026DC6;
	padding: 2px 0px;
}
header nav ul li{
	color: white;
	display: inline-block;
}
header form input{
	border-radius: 5px;
}
header form input[type="button"]{
	background: green;
	border: 1px solid green;
	color: white;
}
header nav form{
 	float:right; 
 	margin-right:20px;
 	margin-top: -40px;
}
#logo{
	margin-top: -150px;
}