	body {
		
		font size: 16px;/*1em*/
		margin:0px auto;
		max-width: 1024px;
	}

	header{
		background:#B3D8EB;
	}
	header form{
		float:right;
		margin-top: -40px;
		margin-right: 20px;
	}
	header form input[type="button"]{
		background: green;
		border: 1px solid green;
		color:white;
	}
	header form input{
		border-radius: 5px;
		height: 30px;
	}
	header nav{
		background: #026DC6;
		border-radius: 5px;
		padding:2px 0px;
		width: 99%;
		margin:0 auto;
	}
	header nav ul li{
		color:white;
		display:inline-block;
		margin-right: 20px;
	}
	#logo{
		margin-top: -160px
	}
#seccion01{
	margin-top:15px;

}
#seccion01 article{
	text-align: center;
}
#seccion01 article img{
	border: 5px solid rgba(150,150,150,0.5);
}
#seccion02 article{
	display: inline-block;
	padding-bottom: 10px;
	vertical-align: top;
	width: 33%;
}
#seccion02 article input[type="submit"]{
	background: white;
	border-radius: 5px;
	color:blue;
	height: 30px;
	margin-left: 130px;
}
.nito{
	font-weight: bold; /*negritas*/
}
.unaSeccion{
	font-size: 4.5em; /*2.5x16*/
}
.otraSeccion{
	font-size: 2.5em; /*4.5x16*/
}