body{
	border:1px solid black;
	font-size: 1em;
	margin:0px auto;
	max-width: 2082px;
}
header{
	padding-left: 15px;
	padding-bottom: 20px;
}
header img{
	margin-left: 215px;
}
header input{
	height: 51px;
	vertical-align: top;
	width: 150px;
}
#seccion01{
	background: #2b2b2b;
}
#secction01 article{
	display: inline-block;
	

}