body{
	font-size: 16px;
	margin:0px auto;
	max-width: 1078px;
	min-height: 1078px;
	/*1078 requerimiento del cliente*/
}
header input{
	float:right;
	margin-right: -200px;
	position:relative;
	margin-top: 15px;
}
header nav{
	margin-left: 220px;
	/*text-align: center;*/
}
header nav ul li{
	color:gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	border-bottom: 1px solid gray;
	padding-bottom: 2px;
}
#granthams{
	margin-top: 25px;
	margin-left: 25px;
}
#paint{
float:right;
}
